/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 25px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}

/**Social button**/
#socials {
  position: fixed;
  top: 30%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  z-index: 10;
}
#socials a {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 45px;
}

#socials a i {
  font-size: 25px;
  vertical-align: middle;
  color: #fff;
}
#socials a.facebook {
  background: linear-gradient(
    225deg,
    #4676ed 7.48%,
    #436de4 23.24%,
    #3c55cd 48.89%,
    #302ea8 81.05%,
    #2b1e99 92.52%
  );
}
#socials a.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
#socials a.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
#socials a.instagram {
  background: linear-gradient(
    225deg,
    #fbe18a -1.14%,
    #fcbb45 25.93%,
    #f75274 47.65%,
    #d53692 66.79%,
    #8f39ce 94.81%,
    #5b4fe9 128.68%
  );
}
