/**Gem**/
.gem-item:before {
  content: "";
  position: absolute;
  width: 900px;
  height: 900px;
  background-image: url(../images/eve.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 22%;
}
.gem__block__container1,
.gem__block__container2 {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gem__block__container1::after {
  content: "";
  position: absolute;
  height: 35px;
  background: url(./../images/arrow.png);
  bottom: -60px;
  left: 0;
  right: 0;
  width: 25px;
  margin: 0 auto;
}
.gem__block__container2::before {
  content: "";
  position: absolute;
  height: 35px;
  background: url(./../images/arrow.png);
  top: -15px;
  left: 0;
  right: 0;
  width: 25px;
  margin: 0 auto;
}
.gem-item__inner .gem__block1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gem-item__inner .gem__block2 {
  margin-top: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gem-item__inner .gem__block1::after {
  content: "";
  position: absolute;
  height: 3px;
  background: #fff;
  bottom: -25px;
  left: 98px;
  right: 98px;
}
.gem-item__inner .gem__block2::before {
  content: "";
  position: absolute;
  height: 3px;
  background: #fff;
  top: -25px;
  left: 98px;
  right: 98px;
}
.gem-item__inner .gem__block__item {
  width: 167px;
  height: 108px;
  padding: 10px;
  border-radius: 15px;
  background: #8e71a6;
  text-align: center;
  margin: 0 16px 0 16px;
  position: relative;
}
.gem-item__inner .gem__block1 .gem__block__item::after {
  content: "";
  position: absolute;
  height: 22px;
  background: #fff;
  bottom: -22px;
  left: 0;
  right: 0;
  width: 3px;
  margin: 0 auto;
}
.gem-item__inner .gem__block2 .gem__block__item::before {
  content: "";
  position: absolute;
  height: 22px;
  background: #fff;
  top: -22px;
  left: 0;
  right: 0;
  width: 3px;
  margin: 0 auto;
}
.gem-item__inner .gem__block__item .gem__item_inner {
  position: absolute;
  right: 8px;
  top: 8px;
  left: 8px;
  bottom: 8px;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 10px;
}
.gem-item__inner .gem__block__item span {
  color: #fff;
  font-size: 15px;
}
.gem-item__inner .gem__block__img {
  text-align: center;
}
.gem-item__inner .gem__block__img img {
  height: 270px;
  max-width: 100%;
}

/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 45px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}
.partner-item__inner .payment__logo {
  margin-top: 20px;
  text-align: center;
}
.partner-item__inner .payment__logo img {
  height: 136px;
  max-width: 100%;
}
