@import url("https://fonts.googleapis.com/css2?family=Ranga:wght@700&family=Roboto:wght@400;700&display=swap");
/*font-family: 'Ranga', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

@font-face {
  font-family: GodoWar;
  src: url("../fonts/GODOFWAR.TTF");
}
@font-face {
  font-family: Gugi;
  src: url("../fonts/Gugi-Regular.ttf");
}

/** General **/
body {
  font-family: "Roboto", sans-serif;
}
.button-menu {
  display: none;
}
.bg-main {
  background-image: url("../images/background.png");
  background-size: cover;
}
.bg-home {
  background-image: url("../images/bg/home_bg.png");
  background-size: cover;
  background-position: bottom;
}
.bg-trailer {
  background-image: url("../images/bg/trailer_bg.png");
  background-size: cover;
}
.bg-gameplay {
  background-image: url("../images/bg/gameplay_bg.png");
  background-size: cover;
  background-position: bottom;
}
.bg-nfts {
  background-image: url("../images/bg/nfts_bg.png");
  background-size: cover;
}
.bg-core-team {
  background-image: url("../images/bg/team_bg.png");
  background-size: cover;
}
.bg-partner {
  background-image: url("../images/bg/partner_bg.png");
  background-size: cover;
}
.bg-coin {
  background-image: url("../images/bg/coin_bg.png");
  background-size: cover;
}
.bg-roadmap {
  background-image: url("../images/bg/roadmap_bg.png");
  background-size: cover;
}
.bg-tokenomic {
  background-image: url("../images/bg/tokeomic_bg.png");
  background-size: cover;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: rgb(109 109 109 / 20%);
}
.header.downscroll {
  opacity: 0;
}
.header.upscroll {
  opacity: 1;
  background: rgb(109 109 109 / 20%);
}
.upscroll.header-transparent {
  background-image: none;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu ul {
  vertical-align: middle;
  padding-left: 0px;
  margin-bottom: 0px !important;
}
.header__menu li {
  margin: 0 5px;
  display: inline-block;
  position: relative;
}
.header__menu li:hover:after {
  opacity: 1;
}
.header__menu li:hover a {
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}
.header__menu li:after {
}
.header__menu > ul > li > a {
  padding: 15px 0;
  font-style: normal;
  font-weight: 550;
  display: inline-block;
  align-items: center;
  color: #f9d582;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: GodoWar;
  background: -webkit-linear-gradient(#fdd984, #a38252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.header__menu li.active a {
  color: #fff;
}
.header__menu li a .docs__icon {
  width: 8px;
  height: 8px;
  margin-left: 5px;
}
.header__menu li a.go__app {
  padding: 5px 16px;
  background: linear-gradient(180deg, #fdd984 0%, #a38252 100%);
  border-radius: 4px;
  color: #fff;
  -webkit-text-fill-color: #fff;
}
.header__menu li:last-child:after {
  display: none;
}
.content {
  margin-top: 100px;
}
.sub-menu {
  position: absolute;
  right: -55px;
  background-color: #13192c;
  min-width: 160px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
  -o-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sub-menu li {
  margin: 0;
  padding: 8px;
}
.sub-menu li a {
  color: #e9c779;
  font-family: GodoWar;
}
.sub-menu li a:hover {
  text-decoration: none;
}
.menu__docs:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/**home**/
.hero:before {
  content: "";
  position: absolute;
  width: 75%;
  background-image: url(../images/hero-2.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  padding-top: 100%;
  bottom: 0;
  z-index: 99;
}

.hero::after {
  content: "";
  position: absolute;
  width: 20%;
  background-image: url(../images/hero_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 50%;
  bottom: 20%;
  top: -40%;
}

/****/
.nfts-item {
  padding: 10px 0;
  position: relative;
}
.nfts-item:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url("../images/goldmine.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 8%;
}
.owl-carousel.owl-loaded.nfts-item__slider--mobile {
  display: none;
}
.nfts-item__image {
  max-width: 100%;
}
.heading__default {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  color: #fff;
}
.heading__label {
  font-family: GodoWar;
  margin: 0 0 15px;
  font-size: 36px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#fdd984, #a38252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading__intro {
  font-size: 18px;
}
.nfts-item__slider {
  margin: 15px 0 0;
}
.nfts-item__image figure {
  margin: 10px auto;
  height: 480px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-dots {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}
#team .owl-dots {
  margin: 50px 0 0;
}
.owl-nav > div {
  color: #fff;
  position: absolute;
  bottom: -15px;
}
.owl-nav > div img {
  height: 30px;
}
.owl-nav > div.owl-prev {
  left: 50px;
}
.owl-nav > div.owl-next {
  right: 50px;
}
.team__js .owl-nav > div {
  top: 40% !important;
}
.team__js .owl-nav > div.owl-prev {
  left: -40px;
}
.team__js .owl-nav > div.owl-next {
  right: -40px;
}
.owl-nav div {
  text-transform: uppercase;
  font-weight: 500;
}
.owl-nav i {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: -webkit-linear-gradient(#fdd984, #a38252);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.owl-dots > div {
  margin: 0 10px;
  width: 120px;
  height: 8px;
  display: inline-block;
  background-color: #3e3b39;
  border-radius: 10px;
}
.owl-dots > div.active {
  background: -webkit-linear-gradient(#fdd984, #a38252);
}

/****/
.home-item {
  padding: 50px 0;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.gameplay__item--inner {
  display: flex;
  align-items: center;
  color: #fff;
  max-width: 80%;
  margin: 0 auto;
}
.gameplay__image figure {
  margin: -10px 10px -10px 0;
  width: 450px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 7;
}
.mode_image figure {
  margin: 0 auto 20px;
  width: 180px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 7;
}
.gameplay__slider {
  margin: 20px 0 0;
}
.gameplay__item--content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gameplay__item--content img {
  height: 100px;
}
.gameplay__item--content h3 {
  font-family: GodoWar;
  margin: 0 0 5px;
  font-weight: 600;
}
.gameplay__item--content span {
  font-weight: 600;
}
.gameplay__item--content p {
  margin: 15px 0 0;
}

.team__item {
  text-align: center;
  color: #fff;
}
.team__slider {
  padding: 0 50px;
  margin: 30px 0 0;
}
.team__image figure {
  width: 155px;
  height: 155px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px auto;
  border: 10px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fdd984;
}
.team__name {
  font-family: GodoWar;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.team__desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.advisor__block {
  display: flex;
  justify-content: center;
  position: relative;
}
.advisor__block .advisor__item {
  padding: 0 40px 0 40px;
  text-align: center;
}
.advisor__block .advisor__item .advisor__image {
  width: 155px;
  height: 155px;
  margin: 5px auto;
  border: 10px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fdd984;
  overflow: hidden;
}
.advisor__block .advisor__item .advisor__image img {
  max-width: 100%;
}
.advisor__block .advisor__item .advisor__name {
  color: #fff;
  font-family: GodoWar;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.advisor__block .advisor__item .advisor__desc {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 25px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}

/**Social button**/
#socials {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  display: flex;
  z-index: 1000;
  justify-content: center;
}
.socials__inner {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  border-radius: 10px;
}
#socials a {
  margin: 5px 0;
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: #ccc;
  border-radius: 8px;
  text-align: center;
  line-height: 45px;
  position: relative;
}
#socials a span {
  position: absolute;
  top: 2px;
  left: -150px;
  width: 130px;
  background-color: #21201dba;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#socials a:hover span {
  opacity: 1;
  visibility: visible;
}
#socials a span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 5px solid #21201dba;
  border-bottom: 7px solid transparent;
  position: absolute;
  right: -5px;
}
#socials a.icon_more {
  display: none;
}
#socials a.icon_more.active {
  display: block;
}

#socials a i {
  font-size: 25px;
  vertical-align: middle;
  color: #fff;
}
#socials a.facebook {
  background: linear-gradient(
    225deg,
    #4676ed 7.48%,
    #436de4 23.24%,
    #3c55cd 48.89%,
    #302ea8 81.05%,
    #2b1e99 92.52%
  );
}
#socials a.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
#socials a.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
#socials a.telegram {
  background: #61a7de;
}
#socials a.discord {
  background: #5865f2;
}
#socials a.medium {
  background: #12100e;
}
#socials a.reddit {
  background: #fc471e;
}
#socials a.website {
  background: #3cc6f6;
}

/**Gem**/
.gem-item {
  position: relative;
}
.gem-item:before {
  content: "";
  position: absolute;
  width: 656px;
  height: 500px;
  background-image: url(../images/ani.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  bottom: 0;
}
.gem-item__content {
  text-align: center;
  position: relative;
}
.gem-item__content .content__img {
  width: 440px;
  height: 495px;
  margin: 0 auto;
}
.gem-item__content .content__img {
  max-width: 100%;
}
.gem-item__content .info__item {
  position: absolute;
  z-index: 1;
  text-align: left;
}
.gem-item__content .content__info .info__item span {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}
.gem-item__content .content__info .info__item .line img {
  width: auto !important;
}
.gem-item__content .content__info .info__item:nth-child(1) {
  display: block;
  top: 90px;
  left: 61%;
  transform: translateX(-460px);
}
.gem-item__content .content__info .info__item:nth-child(2) {
  display: block;
  top: 305px;
  left: 69%;
  transform: translateX(-541px);
}

.gem-item__content .content__info .info__item:nth-child(3) {
  display: block;
  top: 394px;
  left: 49.5%;
  text-align: center;
}
.gem-item__content .content__info .info__item:nth-child(4) {
  display: block;
  top: 90px;
  left: 56.5%;
  transform: translateX(70px);
  text-align: right;
}
.gem-item__content .content__info .info__item:nth-child(5) {
  display: block;
  top: 305px;
  left: 53.5%;
  transform: translateX(89px);
  text-align: right;
}

/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 45px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}
.partner-item__inner .payment__logo {
  margin-top: 20px;
  text-align: center;
}
.partner__image {
  max-width: 830px;
  margin: 50px auto 0;
}
.partner__image img {
  max-width: 100%;
}
.partner__image img.mobile {
  display: none;
}

/**Road map**/
.roadmap-item__inner {
  margin: -80px 0 0;
}
.roadmap_section img {
  height: 330px;
}
.roadmap__item {
  position: absolute;
  z-index: 99;
}
.roadmap__item h3 {
  color: #fdd984;
  font-family: GodoWar;
  font-size: 22px;
}
.roadmap__item ul {
  list-style: circle;
  padding-left: 15px;
}
.roadmap__item ul li {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}
.roadmap__item ul li.label {
  margin-left: -35px;
  color: #ffcd00;
  text-align: left;
  display: block;
  font-size: 13px;
}
.roadmap__timeline .roadmap__item:nth-child(1) {
  display: block;
  bottom: -89px;
  left: -2.5%;
}
.roadmap__timeline .roadmap__item:nth-child(2) {
  display: block;
  top: 80px;
  left: 13%;
}

.roadmap__timeline .roadmap__item:nth-child(3) {
  display: block;
  bottom: -128px;
  left: 31%;
}

.roadmap__timeline .roadmap__item:nth-child(4) {
  display: block;
  top: -15px;
  left: 48%;
}

.roadmap__timeline .roadmap__item:nth-child(5) {
  display: block;
  bottom: -4px;
  right: 10%;
}

.roadmap__timeline .roadmap__item:nth-child(6) {
  display: block;
  top: -70px;
  right: 2%;
}

/**Footer**/
.partner-item__inner {
  margin: 0 0 20%;
}
.footer__logo {
  display: block;
}
.footer {
  background: rgba(100, 100, 100, 0.5);
  height: 200px !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.footer .footer__logo {
  margin-top: 20px;
}
.footer .footer__logo img {
  height: 90px;
}
.footer .footer_email {
  margin: 0;
  color: #fdd984;
}
.footer .footer__menu {
  margin: -10px 0 0;
  padding-left: 0px;
  list-style: none;
}
.footer .footer__menu li {
  margin: 2px 0;
}

.footer .footer__menu li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #fdd984;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.footer .footer__menu li:hover a {
  -webkit-transform: translate(3px, 0px);
  -moz-transform: translate(3px, 0px);
  -o-transform: translate(3px, 0px);
  -ms-transform: translate(3px, 0px);
  transform: translate(3px, 0px);
}

.footer .footer__heading {
  margin: 0 0 20px;
  font-family: GodoWar;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #fdd984;
  text-transform: uppercase;
  text-align: left;
}
.footer .footer__join li {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-color: #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

.footer .footer__join li.facebook {
  background: linear-gradient(
    225deg,
    #4676ed 7.48%,
    #436de4 23.24%,
    #3c55cd 48.89%,
    #302ea8 81.05%,
    #2b1e99 92.52%
  );
}
.footer .footer__join li.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
.footer .footer__join li.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
.footer .footer__join li.telegram {
  background: #61a7de;
}
.footer .footer__join li a {
  color: #fff;
}

#home {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#home:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
.app__inner {
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
}
.hero__inner {
  position: absolute;
  padding-bottom: 62.25%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero__inner iframe,
.hero__inner video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.app__mobile {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 999;
}
.btn__app {
  cursor: pointer;
  border: none;
  width: 152px;
  height: 43px;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.btn__app:hover {
  -webkit-transform: translate(0px, -5px);
  -moz-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
.android {
  background-image: url(./../images/android.png);
}
.ios {
  background-image: url(./../images/ios.png);
}
.pc {
  background-image: url(./../images/pc.png);
}
#viewscroll > section {
  height: 100vh;
}

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9 {
  visibility: hidden;
}

.wp1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.wp2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.wp3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.wp4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.5s;
}
.wp5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.wp6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
  visibility: visible;
}
.hero {
  position: relative;
  overflow: hidden;
}
.footer .fp-tableCell {
  height: 200px !important;
}

#fp-nav.right {
  left: 15px;
  right: initial;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

/**Trailer**/
.trailer .trainer__video {
  padding: 60px;
  background-image: url("../images/trailer_border.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

.trailer .trainer__video img {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.5%;
}
.video-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
}

.video-wrapper:hover .video-control, .video-wrapper.hover .video-control {
  opacity: 1;
}
.video-control {
  position: absolute;
  z-index: 111;
  background-color: #1c1c1c99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#resume {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fffffffc;
  border-radius: 50%;
  margin: 0;
}
#resume:before {
  margin: 0 0 0 5px;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #484848;
  border-bottom: 15px solid transparent;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#resume.pause:before {
  opacity: 1;
}
#resume.pause span {
  opacity: 0;
}
#resume span {
  margin: 0 3px;
  width: 7px;
  height: 30px;
  display: inline-block;
  background-color: #484848;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#mute {
  margin: 0 10px 0 -38px;
  color: #fff;
}
#mute:hover {
  text-decoration: none;
}
#mute:before {
  font: normal normal normal 26px/1 FontAwesome;
  content: "\f026";
}
#mute.un-mute:before {
  font: normal normal normal 26px/1 FontAwesome;
  content: "\f028";
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**Tokenomics**/
.tokenomics__chart {
  position: relative;
  padding-top: 135px;
}

.tokenomics__chart .chart__item {
  position: absolute;
  z-index: 99;
}
.tokenomics__chart .chart__item:nth-child(1) {
  display: block;
  top: 9px;
  left: 32.5%;
}
.tokenomics__chart .chart__item:nth-child(2) {
  display: block;
  top: 64px;
  left: 53.5%;
}
.tokenomics__chart .chart__item:nth-child(3) {
  display: block;
  top: 150px;
  right: 8%;
}
.tokenomics__chart .chart__item:nth-child(4) {
  display: block;
  top: 219px;
  right: 2%;
}
.tokenomics__chart .chart__item:nth-child(5) {
  display: block;
  bottom: 166px;
  right: 0.5%;
}
.tokenomics__chart .chart__item:nth-child(6) {
  display: block;
  bottom: 39px;
  right: 3.5%;
  transform: translateX(4px);
}

.tokenomics__chart .chart__item:nth-child(7) {
  display: block;
  bottom: -49px;
  right: 23.5%;
  transform: translateX(4px);
}
.tokenomics__chart .chart__item:nth-child(8) {
  display: block;
  bottom: -27px;
  left: 4.5%;
}
.tokenomics__chart .chart__item:nth-child(9) {
  display: block;
  top: 352px;
  left: -4%;
}
.tokenomics__chart .chart__item:nth-child(10) {
  display: block;
  top: 171px;
  left: 4.5%;
}
.tokenomics__chart .chart__item:nth-child(11) {
  display: block;
  top: 88px;
  left: 11.5%;
}
.chart__item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.chart__item span.asb {
  margin-left: 40px;
  position: absolute;
  bottom: 10px;
}

@media screen and (max-height: 520px) {
  .hero:before {
    content: "";
    position: absolute;
    width: 40%;
  }
  .hero::after {
    width: 6%;
  }
}

@media screen and (max-height: 710px), (max-width: 374px) {
  .hero:before {
    content: "";
    position: absolute;
    width: 60%;
  }
  .hero::after {
    width: 8%;
  }
  .heading__default {
    max-width: 600px;
  }
  .heading__label {
    margin: 0 0 15px;
    font-size: 28px;
  }
  .heading__intro {
    font-size: 16px;
  }
  .gameplay__image figure {
    width: 350px;
    height: 350px;
  }
  .mode_image figure {
    width: 150px;
    height: 150px;
  }

  .gameplay__item--content h3 {
    font-size: 20px;
  }
  .trailer .trainer__video {
    width: 68%;
  }
  .gem-item__content .content__img {
    width: 350px;
    height: 350px;
    margin: 0 auto 50px;
  }
  .gem-item__content .content__info .info__item:nth-child(1) {
    top: 70px;
    left: 63%;
  }
  .gem-item__content .content__info .info__item:nth-child(2) {
    top: 180px;
    left: 69%;
  }
  .gem-item__content .content__info .info__item:nth-child(4) {
    top: 69px;
    left: 54.2%;
  }
  .gem-item__content .content__info .info__item:nth-child(5) {
    display: block;
    top: 177px;
    left: 53.8%;
  }
  .team__name {
    margin: 10px 0 5px;
    font-size: 16px;
  }
  .tokenomics__chart {
    padding-top: 100px;
  }
  .chart__img img {
    width: 300px;
  }
  .tokenomics__chart .chart__item {
    text-align: left;
  }
  .tokenomics__chart .chart__item:nth-child(1) {
    display: block;
    top: 23px;
    left: 36.5%;
  }
  .tokenomics__chart .chart__item:nth-child(1) span,
  .tokenomics__chart .chart__item:nth-child(2) span,
  .tokenomics__chart .chart__item:nth-child(11) span {
    position: relative;
    top: -10px;
  }
  .tokenomics__chart .chart__item:nth-child(2) {
    display: block;
    top: 55px;
    left: 55.5%;
  }
  .tokenomics__chart .chart__item:nth-child(3) {
    display: block;
    top: 110px;
    right: -6%;
  }
  .tokenomics__chart .chart__item:nth-child(3) span {
    text-indent: 45px;
    display: block;
  }
  .tokenomics__chart .chart__item:nth-child(4) {
    display: block;
    top: 173px;
    right: -11.3%;
  }
  .tokenomics__chart .chart__item:nth-child(4) span {
    text-indent: 45px;
    display: block;
  }
  .tokenomics__chart .chart__item:nth-child(5) {
    display: block;
    bottom: 97px;
    right: -10.8%;
  }
  .tokenomics__chart .chart__item:nth-child(5) span {
    text-indent: 40px;
    display: block;
  }
  .chart__item span.asb {
    margin-left: 0;
  }
  .tokenomics__chart .chart__item:nth-child(6) {
    display: block;
    bottom: 38px;
    right: -9.5%;
  }
  .tokenomics__chart .chart__item:nth-child(6) span {
    display: block;
    left: 55px;
  }
  .tokenomics__chart .chart__item:nth-child(7) {
    bottom: -23px;
    right: 14%;
  }
  .tokenomics__chart .chart__item:nth-child(7) span.asb {
    left: 48px;
  }
  .tokenomics__chart .chart__item:nth-child(11) {
    top: 65px;
    left: 17%;
  }
  .tokenomics__chart .chart__item:nth-child(10) {
    display: block;
    top: 136px;
    left: 10.5%;
  }
  .tokenomics__chart .chart__item:nth-child(11) span {
    display: block;
    text-indent: -35px;
    top: -6px;
  }
  .tokenomics__chart .chart__item:nth-child(9) {
    display: block;
    top: 220px;
    left: 1.5%;
  }
  .tokenomics__chart .chart__item:nth-child(9) span {
    display: block;
    text-indent: -50px;
  }
  .tokenomics__chart .chart__item:nth-child(8) {
    display: block;
    bottom: -3px;
    left: 10.5%;
  }
  .tokenomics__chart .chart__item:nth-child(8) span {
    left: -55px !important;
  }

  .chart__item img {
    width: 55%;
  }
  .chart__item span {
    font-size: 16px;
  }
  .gem-item__content .content__info .info__item:nth-child(3) {
    display: block;
    top: 310px;
  }
  .partner-item__inner {
    margin: 0 0 18%;
  }
  .partner__image {
    max-width: 720px;
    margin: 30px auto 0;
  }
  .partner__image img.desktop {
    display: none;
  }
  .partner__image img.mobile {
    display: block;
  }
}

@media screen and (max-height: 768px) {
  .bg-core-team .heading__intro {
    display: none;
  }
  .advisor__block .advisor__item .advisor__image,
  .team__image figure {
    border: 5px solid transparent;
    box-shadow: 0 0 0 2px #fdd984;
  }
  .team__image figure,
  .advisor__block .advisor__item .advisor__image {
    height: 120px;
    width: 120px;
  }
  .nfts-item__image figure {
    height: 380px;
  }
  .trailer .trainer__video {
    width: 85%;
  }
  .team__slider {
    margin: 30px 0;
  }
}
@media screen and (max-width: 320px) {
  /*.gameplay__image figure {*/
  /*  margin: 0 0 10px;*/
  /*  width: 100px;*/
  /*  height: 100px;*/
  /*}*/
}

@media screen and (max-width: 768px) {
  .header {
    background: none;
  }
  .button-menu {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon-menu.png');
  }
  #fp-nav {
    display: none !important;
  }
  .header__menu {
    display: none;
  }
  #socials a {
    margin: 2px 0;
    height: 26px;
    width: 26px;
    line-height: 26px;
  }
  #socials a i {
    font-size: 12px;
  }
  .socials__inner {
    padding: 5px 5px;
    border-radius: 10px 0 0 10px;
  }
  .hero:before {
    width: 100%;
    background-size: auto 60%;
  }
  .hero::after {
    width: 75%;
    top: -22%;
  }
  .btn__app {
    width: 110px;
    height: 30px;
  }
  .trailer .trainer__video {
    padding: 28px;
    width: 95%;
  }
  .heading__label {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .gem-item .heading__label {
    padding: 0 20px;
  }
  .heading__intro {
    font-size: 13px;
  }
  .gameplay__item--inner {
    flex-direction: column;
    max-width: 100%;
  }

  .button-menu {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/icon-menu.png);
    margin: 0 0 0 auto;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: 20px auto;
    background-position: center;
    position: fixed;
    right: 11px;
    top: 8px;
    z-index: 1002;
  }
  .mode_image {
    order: 2;
  }
  .mode_image figure {
    margin: 15px auto 0;
    width: 120px;
    height: 120px;
  }
  .gameplay__item--content p {
    margin: 5px 0 0;
  }
  .gameplay__slider {
    margin: 10px 0 0;
  }
  .gameplay__item--content h3 {
    font-size: 16px;
  }
  .gameplay__image figure {
    margin: 0 0 10px;
    width: 260px;
    height: 260px;
  }
  .owl-dots {
    margin: 10px 0 0;
  }
  .owl-dots > div {
    width: 8px;
  }
  .owl-nav {
    display: none;
  }
  .owl-carousel.owl-loaded.nfts-item__slider--desktop {
    display: none;
  }
  .owl-carousel.owl-loaded.nfts-item__slider--mobile {
    display: block;
  }
  .nfts-item__js--mobile .nfts-item__image figure {
    height: inherit;
  }
  .nfts-item__js--mobile .nfts-item__image figure:before {
    content: '';
    padding-top: 124%;
    display: block;
  }
  .gem-item .col-md-12 {
    padding: 0 !important;
  }
  .gem-item__content .content__img {
    overflow: hidden;
    width: 60%;
    height: initial;
    margin: 0;
  }
  .content__info {
    width: 40%;
  }
  .gem-item__content .content__info .info__item {
    position: relative;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
    transform: translateX(0px) !important;
    text-align: right !important;
    text-indent: 0 !important;
    background-image: url(../images/line.png);
    padding: 6px 0;
    margin: 15px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .gem-item__content .content__info .info__item:nth-child(1) {
    left: -40% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(2) {
    left: -31% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(3) {
    left: -30% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(4) {
    left: -37% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(5) {
    left: -50% !important;
  }
  .gem-item__content .content__info .info__item:before {
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: #FFF;
    border-radius: 50%;
    bottom: -4px;
  }
  .gem-item__content .content__info .info__item span {
    text-indent: 0 !important;
    margin: 0 !important;
    font-size: 18px;
  }
  .gem-item__content .content__info .info__item .line {
    display: none !important;
  }
  .gem-item__content .content__info .info__item .line img {
    display: none !important;
  }
  .gem-item__content {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }
  .content__img img {
    position: relative;
    max-width: 200%;
    width: 200% !important;
    left: -100%;
  }
  .gem-item:before {
    background-size: 50% auto;
    left: 0;
    background-position: left;
  }
  .roadmap .heading__default {
    margin: 70px 0 0;
  }
  .roadmap_section img {
    display: none;
  }
  .roadmap__timeline .roadmap__item {
    position: initial !important;
    top: initial !important;
    bottom: initial !important;
    left: initial !important;
    right: initial !important;
    width: 42%;
  }
  .roadmap .heading__label {
    margin: 0 !important;
  }
  .roadmap__timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .roadmap__timeline:before {
    content: '';
    width: 2px;
    top: 22px;
    bottom: 0;
    background-image: url(../images/line-vertical.png);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
  }
  .roadmap__item:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: linear-gradient(180deg, #FDD984 0%, #A38252 100%);
    transform: rotate(109.32deg);
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .roadmap__timeline .roadmap__item:nth-child(6):before {
    top: 7%;
  }
  .roadmap__timeline .roadmap__item:nth-child(5):before {
    top: 20%;
  }
  .roadmap__timeline .roadmap__item:nth-child(4):before {
    top: 30%;
  }
  .roadmap__timeline .roadmap__item:nth-child(3):before {
    bottom: 48%;
  }
  .roadmap__timeline .roadmap__item:nth-child(2):before {
    bottom: 25%;
  }
  .roadmap__timeline .roadmap__item:nth-child(1):before {
    bottom: 6%;
  }
  .roadmap__timeline .roadmap__item:nth-child(1) {
    margin: 20% 0 0;
    order: 6
  }
  .roadmap__timeline .roadmap__item:nth-child(6) {
    order: 1;
    width: 48%;
  }
  .roadmap__timeline .roadmap__item:nth-child(5) {
    margin: 15% 0 0;
    order: 2;
  }
  .roadmap__timeline .roadmap__item:nth-child(4) {
    margin: -10% 0 0;
    order: 3;
    width: 48%;
  }
  .roadmap__timeline .roadmap__item:nth-child(3) {
    margin: 15% 0 0;
    order: 4;
  }
  .roadmap__timeline .roadmap__item:nth-child(2) {
    margin: -10% 0 0;
    order: 5;
    width: 48%;
  }
  .roadmap__item h3 {
    font-size: 14px;
  }
  .roadmap__item ul li {
    font-size: 12px;
  }

  .team__slider {
    padding: 0;
  }
  .team__item {
    display: block;
  }
  .tokenomics__chart .chart__item, .tokenomics__chart .chart__item span {
    position: inherit !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateX(0) !important;
    display: flex !important;
    margin: 0 !important;
  }
  .tokenomics__chart .chart__item:nth-child(8) span {
    left: 0 !important;
  }
  .chart__item span {
    text-indent: 0 !important;
  }
  .chart__item .dotted {
    display: none;
  }
  .tokenomics__chart {
    padding-top: 0;
  }
  .chart__img {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }
  .chart__img img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    max-width: 110%;
  }
  .chart__list {
    margin: 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .chart__list .chart__item {
    margin: 5px 0;
    width: 50%;
    position: relative;
  }
  .chart__list .chart__item:before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background: red;
    border-radius: 50%;
    margin: 7px;
  }
  .chart__list .chart__item:nth-child(1):before {
    background: #ff1001;
  }
  .chart__list .chart__item:nth-child(2):before {
    background: #4061ba;
  }
  .chart__list .chart__item:nth-child(3):before {
    background: #2a2184;
  }
  .chart__list .chart__item:nth-child(4):before {
    background: #ffcd00;
  }
  .chart__list .chart__item:nth-child(5):before {
    background: #a19396;
  }
  .chart__list .chart__item:nth-child(6):before {
    background: #52bb00;
  }
  .chart__list .chart__item:nth-child(7):before {
    background: #980201;
  }
  .chart__list .chart__item:nth-child(8):before {
    background: #01ffff;
  }
  .chart__list .chart__item:nth-child(9):before {
    background: #bd00ff;
  }
  .chart__list .chart__item:nth-child(10):before {
    background: #ff6b00;
  }
  .chart__item span {
    font-size: 13px;
  }
  .footer {
    height: 300px !important;
  }
  .footer .container {
    width: 100%;
  }
  .footer .row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer > .container > .row > .col-md-4 {
    width: 100%;
  }
  .footer > .container > .row > .col-md-4.footer__col {
    width: 50%;
  }
  .footer > .container > .row > .col-md-4.footer__col .row .col-md-4:last-child {
    padding-left: 0 !important;
  }
  .footer > .container > .row > .col-md-4.footer__col .col-md-4,  .footer > .container > .row > .col-md-4.footer__col .col-md-5 {
    width: 50%;
    padding-right: 0 !important;
  }
  .footer .footer__heading {
    margin: 0 0 15px;
    font-size: 14px;
  }
  .footer .footer__menu li a {
    font-size: 13px;
    line-height: 20px;
  }
  .footer_email {
    display: none;
  }
  .footer .footer__logo {
    margin: 0 0 10px 0 !important;
  }
  .header {
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1001;
  }
  .header__menu > ul {
    display: flex;
    flex-direction: column;
    margin: 35px;
  }
  .sub-menu {
    right: inherit;
    display: flex;
    top: 8px;
    opacity: 1;
    visibility: visible;
    left: 50px;
    background-color: #131312;
  }
  .sub-menu li {
    padding: 0 5px;
  }
  .sub-menu li a {
    color: #fbfbfb;
    font-size: 12px;
  }
  .header__menu li {
    border-bottom: 1px solid;
  }
  .header__menu > ul > li > a {
    padding: 15px 0;
  }
  .header, .header.upscroll, .header.downscroll {
    opacity: 0;
    visibility: hidden;
    background-color: #101010fa !important;
  }
  .menu__js .header, .menu__js .header.upscroll, .menu__js .header.downscroll {
    opacity: 1;
    visibility: visible;
  }
  .menu__js .header__menu {
    display: block;
  }
  .bg-core-team .heading__intro {
    display: block;
  }
  .owl-dots > div {
    margin: 0 7px;
  }
  .header__menu > ul > li.menu__docs, .header__menu > ul > li:last-child {
    border: none;
  }
  .header__menu li a.go__app {
    display: inline-block;
  }
  .partner-item__inner {
    margin: 0 0 75%;
  }
}
@media screen and (max-width: 420px) {
  .gem-item__content .content__info .info__item:nth-child(1) {
    left: -40% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(2) {
    left: -31% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(3) {
    left: -30% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(4) {
    left: -37% !important;
  }
  .gem-item__content .content__info .info__item:nth-child(5) {
    left: -54% !important;
  }
}
@media screen and (max-width: 375px) {
  .bg-core-team .heading__intro {
    display: block;
  }
  .gameplay__image figure {
    margin: 0 0 5px;
    width: 220px;
    height: 220px;
  }
  .mode_image figure {
    margin: 10px auto 0;
    width: 100px;
    height: 100px;
  }
  .gameplay__item--content p {
    margin: 10px 0 0;
    font-size: 13px;
  }
  .gem-item__content .content__info .info__item:nth-child(5) {
    left: -60% !important;
  }
}