@import url('https://fonts.googleapis.com/css2?family=Ranga:wght@700&family=Roboto:wght@400;700&display=swap');
/*font-family: 'Ranga', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

@font-face {
  font-family: GodoWar;
  src: url("../fonts/GODOFWAR.TTF");
}

.header {
  width: 100%;
  height: 80px !important;
  line-height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.header.downscroll {
  opacity: 0;
}
.header.upscroll {
  opacity: 1;
  background: url(../images/header_bg.png);
}
.upscroll.header-transparent {
  background-image: none;
}
.header__logo img {
  height: 60px;
}
.header__menu ul {
  vertical-align: middle;
}
.header__menu li {
  display: inline-block;
  margin-right: 30px;
}
.header__menu li a {
  font-family: Ranga;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header__menu li a.active {
  color: #ffa300;
}
.header__menu li a .docs__icon {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
.content {
  margin-top: 100px;
}

.menu__docs {
  position: relative;
}
.menu__docs .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.menu__docs .dropdown-menu a {
  color: #000 !important;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.menu__docs:hover .dropdown-menu {
  display: block;
}
.menu__docs .dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/** General **/
body {
  font-family: "Roboto", sans-serif;
}
.bg-main {
  background-image: url("../images/background.png");
  background-size: cover;
}
/****/
.nfts-item {
  padding: 50px 0;
  position: relative;
}
.nfts-item:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url("../images/goldmine.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 8%;
}
.nfts-item__image {
  max-width: 100%;
}
.heading__default {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  color: #fff;
}
.heading__label {
  font-family: GodoWar;
  margin: 0 0 15px;
  font-size: 54px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#FDD984, #A38252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading__intro {
  font-size: 20px;
}
.nfts-item__slider {
  margin: 15px 0 0;
}
.nfts-item__image figure {
  margin: 10px auto;
  height: 345px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-dots {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}
#team .owl-dots {
  margin: 50px 0 0;
}
.owl-nav > div {
  color: #FFF;
  position: absolute;
  bottom: -5px;
}
.owl-nav > div.owl-prev {
  left: 50px;
}
.owl-nav > div.owl-next {
  right: 50px;
}
.owl-nav div {
  text-transform: uppercase;
  font-weight: 500;
}
.owl-nav i {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-color: #9c27b0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.owl-dots > div {
  margin: 0 10px;
  width: 120px;
  height: 8px;
  display: inline-block;
  background-color: #532c68;
  border-radius: 10px;
}
.owl-dots > div.active {
  background-color: #d97ccb;
}

/****/
.home-item {
  padding: 50px 0;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.gameplay__item--inner {
  display: flex;
  align-items: center;
  color: #FFF;
  max-width: 80%;
  margin: 0 auto;
}
.gameplay__image figure {
  margin: -10px 10px -10px 0;
  width: 500px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 7;
}
.gameplay__slider {
  margin: 20px 0 0;
}
.gameplay__item--content {
  text-align: center;
}
.gameplay__item--content h3 {
  margin: 0 0 5px;
  font-weight: 600;
}
.gameplay__item--content span {
  font-weight: 600;
}
.gameplay__item--content p {
  margin: 15px 0 0;
}

.team__item {
  text-align: center;
  color: #FFF;
}
.team__slider {
  margin: 30px 0 0;
}
.team__image figure {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px auto;
  border: 10px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #4ca9ff;
}
.team__name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 25px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}

/**Social button**/
#socials {
  position: fixed;
  top: 30%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  z-index: 10;
}
#socials a {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 45px;
}

#socials a i {
  font-size: 25px;
  vertical-align: middle;
  color: #fff;
}
#socials a.facebook {
  background: linear-gradient(
          225deg,
          #4676ed 7.48%,
          #436de4 23.24%,
          #3c55cd 48.89%,
          #302ea8 81.05%,
          #2b1e99 92.52%
  );
}
#socials a.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
#socials a.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
#socials a.instagram {
  background: linear-gradient(
          225deg,
          #fbe18a -1.14%,
          #fcbb45 25.93%,
          #f75274 47.65%,
          #d53692 66.79%,
          #8f39ce 94.81%,
          #5b4fe9 128.68%
  );
}

/**Gem**/
.gem-item {
  position: relative;
}
.gem-item:before {
  content: "";
  position: absolute;
  width: 900px;
  height: 900px;
  background-image: url(../images/eve.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.gem-item__inner .gem__block {
  /* width: 70%; */
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gem-item__inner .gem__block .gem__block__item {
  width: 199px;
  height: 108px;
  padding: 10px;
  border-radius: 10px;
  background: #8e71a6;
  text-align: center;
  margin: 0 16px 0 16px;
  outline-offset: -10px;
  outline: 1px solid #fff;
  -moz-outline-radius: 10px;
}
.gem-item__inner .gem__block .gem__block__item span {
  color: #fff;
  font-size: 15px;
}
.gem-item__inner .gem__block__img {
  text-align: center;
}
.gem-item__inner .gem__block__img img {
  height: 270px;
  max-width: 100%;
}

/**Road map**/
.roadmap-item__inner .time__line {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roadmap-item__inner .time__line .time__line__item {
  width: 114px;
  height: 114px;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
  transform: rotate(45deg);
  background: linear-gradient(315deg, #fb6121 3.01%, #fc895a 99.78%);
  /* border-radius: 16px;
transform: rotate(45deg); */
}

.roadmap-item__inner .time__line .time__line__item h3 {
  font-family: Ranga;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  transform: rotate(-45deg);
}

/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 25px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}
.partner-item__inner .payment__logo {
  text-align: center;
}
.partner-item__inner .payment__logo img {
  height: 45px;
  max-width: 100%;
}

/**Footer**/
#footer {
  background: url("../images/bg-footer.png") no-repeat, #2f1893;
  background-size: cover;
  height: 200px;
}
/* #footer::before {
  background-image: url("../images/bg-footer.png");
  background-size: cover;
} */
#footer .footer__logo img {
  height: 70px;
}
#footer .footer__menu {
  margin-top: 10px;
}
#footer .footer__menu li {
  display: inline-block;
  margin-right: 30px;
}

#footer .footer__menu li a {
  font-family: Ranga;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

#footer .footer__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
#footer .footer__join {
  text-align: center;
}
#footer .footer__join li {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-color: #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

#footer .footer__join li.facebook {
  background: linear-gradient(
          225deg,
          #4676ed 7.48%,
          #436de4 23.24%,
          #3c55cd 48.89%,
          #302ea8 81.05%,
          #2b1e99 92.52%
  );
}
#footer .footer__join li.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
#footer .footer__join li.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
#footer .footer__join li.instagram {
  background: linear-gradient(
          225deg,
          #fbe18a -1.14%,
          #fcbb45 25.93%,
          #f75274 47.65%,
          #d53692 66.79%,
          #8f39ce 94.81%,
          #5b4fe9 128.68%
  );
}
#footer .footer__join li a {
  color: #fff;
}

#home {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#home:before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
.hero__inner {
  position: absolute;
  padding-bottom: 62.25%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero__inner {
  /*position: relative;*/
  /*padding-bottom: 56.25%;*/
  /*height: 0;*/
  /*overflow: hidden;*/
}
.hero__inner iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
