@import url("https://fonts.googleapis.com/css2?family=Ranga:wght@700&family=Roboto:wght@400;700&display=swap");
/*font-family: 'Ranga', cursive;*/
/*font-family: 'Roboto', sans-serif;*/

@font-face {
  font-family: GodoWar;
  src: url("../fonts/GODOFWAR.TTF");
}
@font-face {
  font-family: Gugi;
  src: url("../fonts/Gugi-Regular.ttf");
}

/** General **/
body {
  font-family: "Roboto", sans-serif;
}
.bg-main {
  background-image: url("../images/background.png");
  background-size: cover;
}
.bg-home {
  background-image: url("../images/bg/home_bg.png");
  background-size: cover;
}
.bg-trailer {
  background-image: url("../images/bg/trailer_bg.png");
  background-size: cover;
}
.bg-gameplay {
  background-image: url("../images/bg/gameplay_bg.png");
  background-size: cover;
}
.bg-nfts {
  background-image: url("../images/bg/nfts_bg.png");
  background-size: cover;
}
.bg-core-team {
  background-image: url("../images/bg/team_bg.png");
  background-size: cover;
}
.bg-partner {
  background-image: url("../images/bg/partner_bg.png");
  background-size: cover;
}
.bg-coin {
  background-image: url("../images/bg/coin_bg.png");
  background-size: cover;
}
.bg-roadmap {
  background-image: url("../images/bg/roadmap_bg.png");
  background-size: cover;
}
.bg-tokenomic {
  background-image: url("../images/bg/tokeomic_bg.png");
  background-size: cover;
}

.header {
  width: 100%;
  height: 80px !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.header.downscroll {
  opacity: 0;
}
.header.upscroll {
  opacity: 1;
  background: rgba(255, 255, 255, 0.25);
}
.upscroll.header-transparent {
  background-image: none;
}
.header__logo img {
  height: 60px;
}
.header__menu ul {
  vertical-align: middle;
  padding-left: 0px;
}
.header__menu li {
  display: inline-block;
  margin-right: 18px;
}
.header__menu li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #f9d582;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.header__menu li.active a {
  color: #fff;
}
.header__menu li a .docs__icon {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
.header__menu li a.go__app {
  padding: 5px 16px;
  background: #f1c46c;
  border-radius: 8px;
  color: #fff;
}
.content {
  margin-top: 100px;
}

.menu__docs {
  position: relative;
}
.menu__docs .dropdown-second-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 52px;
  left: 0;
  line-height: 20px !important;
}
.menu__docs .dropdown-second-menu a {
  color: #000 !important;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.menu__docs:hover .dropdown-second-menu {
  display: block;
}
/* .menu__docs .dropdown-second-menu a:hover {
  background-color: #f1f1f1;
} */

/**home**/
.hero:before {
  content: "";
  position: absolute;
  width: 950px;
  height: 700px;
  background-image: url("../images/hero.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3%;
}

.hero::after {
  content: "";
  position: absolute;
  width: 258px;
  height: 154px;
  background-image: url("../images/hero_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  z-index: 999;
}

/****/
.nfts-item {
  padding: 50px 0;
  position: relative;
}
.nfts-item:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url("../images/goldmine.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 8%;
}
.nfts-item__image {
  max-width: 100%;
}
.heading__default {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  color: #fff;
}
.heading__label {
  font-family: GodoWar;
  margin: 0 0 20px;
  font-size: 44px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#fdd984, #a38252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading__intro {
  font-size: 20px;
}
.nfts-item__slider {
  margin: 15px 0 0;
}
.nfts-item__image figure {
  margin: 10px auto;
  height: 220px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.owl-dots {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
}
#team .owl-dots {
  margin: 50px 0 0;
}
.owl-nav > div {
  color: #fff;
  position: absolute;
  bottom: -15px;
}
.owl-nav > div img {
  height: 30px;
}
.owl-nav > div.owl-prev {
  left: 50px;
}
.owl-nav > div.owl-next {
  right: 50px;
}
.team__js .owl-nav > div {
  top: 40% !important;
}
.team__js .owl-nav > div.owl-prev {
  left: -40px;
}
.team__js .owl-nav > div.owl-next {
  right: -40px;
}
.owl-nav div {
  text-transform: uppercase;
  font-weight: 500;
}
.owl-nav i {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: -webkit-linear-gradient(#fdd984, #a38252);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.owl-dots > div {
  margin: 0 10px;
  width: 120px;
  height: 8px;
  display: inline-block;
  background-color: #3e3b39;
  border-radius: 10px;
}
.owl-dots > div.active {
  background: -webkit-linear-gradient(#fdd984, #a38252);
}

/****/
.home-item {
  padding: 50px 0;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.gameplay__item--inner {
  display: flex;
  align-items: center;
  color: #fff;
  max-width: 80%;
  margin: 0 auto;
}
.gameplay__image figure {
  margin: -10px 10px -10px 0;
  width: 500px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 7;
}
.mode_image figure {
  margin: 0 auto 20px;
  width: 180px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 7;
}
.gameplay__slider {
  margin: 20px 0 0;
}
.gameplay__item--content {
  text-align: center;
}
.gameplay__item--content img {
  height: 100px;
}
.gameplay__item--content h3 {
  font-family: GodoWar;
  margin: 0 0 5px;
  font-weight: 600;
}
.gameplay__item--content span {
  font-weight: 600;
}
.gameplay__item--content p {
  margin: 15px 0 0;
}

.team__item {
  text-align: center;
  color: #fff;
}
.team__slider {
  margin: 30px 0 0;
}
.team__image figure {
  width: 155px;
  height: 155px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px auto;
  border: 10px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fdd984;
}
.team__name {
  font-family: GodoWar;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.team__desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.advisor__block {
  display: flex;
  justify-content: center;
  position: relative;
}
.advisor__block .advisor__item {
  padding: 0 40px 0 40px;
  text-align: center;
}
.advisor__block .advisor__item .advisor__image {
  width: 155px;
  height: 155px;
  margin: 5px auto;
  border: 10px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fdd984;
}
.advisor__block .advisor__item .advisor__image img {
  max-width: 100%;
}
.advisor__block .advisor__item .advisor__name {
  color: #fff;
  font-family: GodoWar;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}
.advisor__block .advisor__item .advisor__desc {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 25px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}

/**Social button**/
#socials {
  position: fixed;
  top: 30%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  z-index: 1000;
}
#socials a {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 45px;
}
#socials a.icon_more {
  display: none;
}
#socials a.icon_more.active {
  display: block;
}

#socials a i {
  font-size: 25px;
  vertical-align: middle;
  color: #fff;
}
#socials a.facebook {
  background: linear-gradient(
    225deg,
    #4676ed 7.48%,
    #436de4 23.24%,
    #3c55cd 48.89%,
    #302ea8 81.05%,
    #2b1e99 92.52%
  );
}
#socials a.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
#socials a.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
#socials a.telegram {
  background: #61a7de;
}
#socials a.discord {
  background: #5865f2;
}
#socials a.medium {
  background: #12100e;
}
#socials a.reddit {
  background: #fc471e;
}
#socials a.website {
  background: #3cc6f6;
}

/**Gem**/
.gem-item {
  position: relative;
}
.gem-item:before {
  content: "";
  position: absolute;
  width: 656px;
  height: 500px;
  background-image: url(../images/ani.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  left: 0;
  bottom: 0;
}
.gem-item__content {
  text-align: center;
  position: relative;
}
.gem-item__content .content__img {
  width: 440px;
  height: 495px;
  margin: 0 auto;
}
.gem-item__content .content__img {
  max-width: 100%;
}
.gem-item__content .info__item {
  position: absolute;
  z-index: 1;
}
.gem-item__content .content__info .info__item span {
  color: #00dbff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}
.gem-item__content .content__info .info__item .line img {
  width: auto !important;
}
.gem-item__content .content__info .info__item:nth-child(1) {
  display: block;
  top: 90px;
  left: 61%;
  transform: translateX(-460px);
}
.gem-item__content .content__info .info__item:nth-child(2) {
  display: block;
  top: 305px;
  left: 69%;
  transform: translateX(-541px);
}

.gem-item__content .content__info .info__item:nth-child(3) {
  display: block;
  top: 394px;
  left: 49.5%;
}
.gem-item__content .content__info .info__item:nth-child(4) {
  display: block;
  top: 90px;
  left: 56.5%;
  transform: translateX(70px);
}
.gem-item__content .content__info .info__item:nth-child(5) {
  display: block;
  top: 305px;
  left: 53.5%;
  transform: translateX(89px);
}

/**Partner**/
.partner-item__inner .developer__logo {
  margin: 25px 0 45px;
}
.partner-item__inner .developer__logo img {
  height: 145px;
}
.partner-item__inner .payment__logo {
  margin-top: 20px;
  text-align: center;
}
.partner-item__inner .payment__logo img {
  height: 136px;
  max-width: 100%;
}

/**Road map**/
.roadmap__section {
  position: relative;
}
.roadmap__item {
  position: absolute;
  z-index: 99;
}
.roadmap__item h3 {
  color: #fdd984;
  font-family: GodoWar;
  font-size: 22px;
}
.roadmap__item ul {
  list-style: circle;
  padding-left: 15px;
}
.roadmap__item ul li {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}
.roadmap__item ul li.label {
  margin-left: -27px;
  color: #ffcd00;
  text-align: left;
  display: block;
  font-size: 13px;
}
.roadmap__timeline .roadmap__item:nth-child(2) {
  display: block;
  top: 145px;
  left: 13%;
}

.roadmap__timeline .roadmap__item:nth-child(3) {
  display: block;
  bottom: -130px;
  left: 37%;
}

.roadmap__timeline .roadmap__item:nth-child(4) {
  display: block;
  top: 50px;
  left: 60%;
}

.roadmap__timeline .roadmap__item:nth-child(5) {
  display: block;
  bottom: 0px;
  right: -5%;
}

.roadmap__timeline .roadmap__item:nth-child(6) {
  display: block;
  top: 0px;
  right: -6%;
}

/**Footer**/
.partner-item__inner {
  margin: 0 0 600px;
}
.footer__logo {
  display: block;
}
.footer {
  background: rgba(100, 100, 100, 0.5);
  height: 200px !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.footer .footer__logo {
  margin-top: 70px;
}
.footer .footer__logo img {
  height: 70px;
}
.footer .footer_email {
  color: #a38252;
}
.footer .footer__menu {
  margin: -10px 0 0;
  padding-left: 0px;
  list-style: none;
}
.footer .footer__menu li {
  margin: 5px 30px 5px 0;
}

.footer .footer__menu li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #fdd984;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer__heading {
  margin: 0 0 20px;
  font-family: GodoWar;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #fdd984;
  text-transform: uppercase;
  text-align: left;
}
.footer .footer__join li {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  background-color: #ccc;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

.footer .footer__join li.facebook {
  background: linear-gradient(
    225deg,
    #4676ed 7.48%,
    #436de4 23.24%,
    #3c55cd 48.89%,
    #302ea8 81.05%,
    #2b1e99 92.52%
  );
}
.footer .footer__join li.twitter {
  background: linear-gradient(225deg, #33ccff 7.48%, #337fff 92.52%);
}
.footer .footer__join li.youtube {
  background: linear-gradient(225deg, #ff0000 7.48%, #850000 92.52%);
}
.footer .footer__join li.telegram {
  background: #61a7de;
}
.footer .footer__join li a {
  color: #fff;
}

#home {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#home:before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}
.hero__inner {
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
}
.app__mobile {
  display: flex;
  justify-content: center;
  position: relative;
}
.btn__app {
  cursor: pointer;
  border: none;
  width: 174px;
  height: 50px;
}
.android {
  background: url(./../images/android.png) no-repeat;
}
.ios {
  background: url(./../images/ios.png) no-repeat;
}
.pc {
  background: url(./../images/pc.png) no-repeat;
}
.header__menu {
  margin: 0;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: center;
  padding-left: 0px;
}
#viewscroll > section {
  height: 100vh;
}

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9 {
  visibility: hidden;
}

.wp1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.wp2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.wp3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.wp4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.5s;
}
.wp5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.wp6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
  visibility: visible;
}
.hero {
  position: relative;
  overflow: hidden;
}
.footer .fp-tableCell {
  height: 200px !important;
}

#fp-nav.right {
  left: 0;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

/**Trailer**/
.trailer .trainer__video {
  border: 10px solid transparent;
  padding: 40px;
  border-image: url(./../images/trailer_border.png) 80 / 35px round;
}

.trailer .trainer__video img {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**Tokenomics**/
.tokenomics__chart {
  position: relative;
  padding-top: 135px;
}

.tokenomics__chart .chart__item {
  position: absolute;
  z-index: 99;
}
.tokenomics__chart .chart__item:nth-child(1) {
  display: block;
  top: 9px;
  left: 32.5%;
}
.tokenomics__chart .chart__item:nth-child(2) {
  display: block;
  top: 64px;
  left: 53.5%;
}
.tokenomics__chart .chart__item:nth-child(3) {
  display: block;
  top: 150px;
  right: 8%;
}
.tokenomics__chart .chart__item:nth-child(4) {
  display: block;
  top: 219px;
  right: 2%;
}
.tokenomics__chart .chart__item:nth-child(5) {
  display: block;
  bottom: 166px;
  right: 0.5%;
}
.tokenomics__chart .chart__item:nth-child(6) {
  display: block;
  bottom: 39px;
  right: 3.5%;
  transform: translateX(4px);
}

.tokenomics__chart .chart__item:nth-child(7) {
  display: block;
  bottom: -49px;
  right: 23.5%;
  transform: translateX(4px);
}
.tokenomics__chart .chart__item:nth-child(8) {
  display: block;
  bottom: -27px;
  left: 4.5%;
}
.tokenomics__chart .chart__item:nth-child(9) {
  display: block;
  top: 352px;
  left: -4%;
}
.tokenomics__chart .chart__item:nth-child(10) {
  display: block;
  top: 171px;
  left: 4.5%;
}
.tokenomics__chart .chart__item:nth-child(11) {
  display: block;
  top: 88px;
  left: 11.5%;
}
.chart__item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #00dbff;
}
.chart__item span.asb {
  margin-left: 40px;
  position: absolute;
  bottom: 10px;
}
